[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = ">=1.13"
scipy = ">=0.18"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
progress = "*"
future = "*"
sisl = "*"
six = "*"
pyparsing = ">=1.5.7"
netCDF4 = "*"

[requires]
python_version = "3.7"
